<% provide(:title, 'About') %>

<h1>Our Mission</h1>

<div class="center container">
  <p>The Happy House team's singular goal is to make managing your home <b>painless</b>.</p>
</div>

<h1>How We Do It</h1>

<div class="center container">
  <p>
    We are intensely focused on a few core pain points:
    <div class="col-md-3"></div>
    <ul class="list-group col-md-6">

      <li class="list-group-item">
        <h3>Easy Document</h3>
        <div class="text-left">
          <p>
            Keep all your property's documents in one place.
          </p>
          <p>
            No more searching through your Dropbox, Google Drive, Laptop, iPad, etc.
          </p>
        </div>
      </li>

      <li class="list-group-item">
        <h3>Reminders</h3>
        <div class="text-left">
          <p>
            Always forget to get things together for tax season?
          </p>
          <p>
            Lease expiring in 30 days?
          </p>
          <p>
            We've got you covered with our intelligent reminders.
          </p>
        </div>
      </li>

      <li class="list-group-item">
        <h3>Cost Tracker</h3>
        <div class="text-left">
          <p>
            It's difficult for third parties to estimate the value of your home,
            but you know exactly how much time and money you have put in.
          </p>
          <p>
            Let us help you keep all of that organized and get a better understanding
            of all the pieces that go into making your house a Happy one.
          </p>
        </div>
      </li>

      <li class="list-group-item">
        <h3>Community Connection</h3>
        <div class="text-left">
          <p>
            When you're looking to improve your house, trying to find a local
            expert can be a daunting and expensive process.
          </p>
          <p>
            We remove that pain by putting you directly in touch with the best,
            trusted, and qualified local experts.
          </p>
        </div>
      </li>

    </ul>
    <div class="col-md-3"></div>
  </p>
</div>
