<% provide(:title, 'About') %>

<h1>Our Mission</h1>

<div class="center container">
  <p>The Happy House team's singular goal is to make managing your home <b>painless</b>.</p>
</div>

<h1>How We Do It</h1>

<div class="center container">
  <p>
    We are intensely focused on a few core pain points:

    <ul class="list-group">
      <li class="list-group-item">
        <b>Document Storage</b>
        <p>
          Keep all your property's documents in one place. No more searching through your Dropbox, Google Drive, Laptop,
          iPad, etc.
        </p>
      </li>
      <li class="list-group-item">
        <b>Second Feature</b>
        <p>
          More details here for the second feature.
        </p>
      </li>
    </ul>
  </p>
</div>
