<% provide(:title, 'Home') %>

<div class='text-center jumbotron'>
  <h1>Happy House</h1>

  <h2>
    It's <%= Time.current.year %>. Taking care of your home shouldn't be painful.
  </h2>

  <%= link_to 'Start Simplifying!', start_path, class: 'btn btn-lg btn-primary' %>
</div>

<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center">
          <h2>Easy Document</h2>
        </div>

        <div class="card-text">
          <p>
            Keep all your property's documents in one place.
          </p>
          <p>
            No more searching through your Dropbox, Google Drive, Laptop, iPad, etc.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">

        <div class="card-title text-center">
          <h2>Reminders</h2>
        </div>

        <div class="card-text">
          <p>
            Always forget to get things together for tax season?
          </p>
          <p>
            Lease expiring in 30 days?
          </p>
          <p>
            We've got you covered with our intelligent reminders.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center">
          <h2>Cost Trackers</h2>
        </div>

        <div class="card-text">
          <p>
            It's difficult for third parties to estimate the value of your home,
            but you know exactly how much time and money you have put in.
          </p>
          <p>
            Let us help you keep all of that organized and get a better understanding
            of all the pieces that go into making your house a Happy one.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center">
          <h2>Centralized</h2>
        </div>

        <div class="card-text">
          <p>
            When you're looking to improve your house, trying to find a local
            expert can be a daunting and expensive process.
          </p>
          <p>
            We remove that pain by putting you directly in touch with the best,
            trusted, and qualified local experts.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
