<% provide(:title, 'Home') %>

<div class='center jumbotron'>
  <h1>Happy House</h1>

  <h2>
    It's <%= Time.current.year %>. Taking care of your home shouldn't be painful.
  </h2>

  <%= link_to 'Start Simplifying!', '#', class: 'btn btn-lg btn-primary' %>
</div>
