<h1>Happy House - Password Reset</h1>

<p>Looks like you're having some trouble logging in, <%= @user.name %>.</p>

<p>Let's get your account back in order!</p>

<%= link_to 'Reset My Password', edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours. If you don't want to reset your password, you can ignore this email.</p>
