<% provide(:title, 'Expense Reports') %>

<div class="row">
  <aside class="col-md-4">
    <section class="year_picker">
      <h1>Create an Expense Report</h1>

      <%= form_tag('', method: 'get') do |f| %>
        <span>
          <p>
            Choose a year to create a report:
          </p>
          Property name is: <%= @property.display_name %>
          <%#= f.select :expense_year, @property.property_interface.expense_years %>

        </span>
      <% end %>

    </section>
  </aside>
</div>