<% provide(:title, 'Expense Reports') %>

<div class="row">
  <aside class="col-md-4">
    <section class="year_picker">
      <h1>Create an Expense Report</h1>

      <%= form_tag('/create', method: 'get') do %>
        <span>
          <p>
            Choose a year to create a report:
          </p>

          <% available_years = @property.property_interface.expense_years %>
          <%= select_tag :expense_year, options_for_select(available_years.map { |year| [year, year] }) %>

        </span>
      <% end %>

    </section>
  </aside>
</div>