<% provide(:title, 'Expense Reports') %>

<div class="row">
  <aside class="col-md-4">
    <section class="year_picker">
      <h1>Create an Expense Report</h1>

      <p>
        Select a year to create a report:
      </p>

      <%= form_tag('/report', method: 'get') do %>

      <% end %>
    </section>
  </aside>
</div>