<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1 style="text-align:center">RESIDENTIAL LEASE AGREEMENT</h1>

    <p>
      This lease (the "Lease") dated <u><%= @lease_details[:lease_creation_date] %></u>
    </p>

    <strong>Tenant(s):</strong>
    <% @lease_details[:tenants].each do |tenant| %>
      <p><%=tenant.name%></p>
    <% end %>
  </body>
</html>