<% provide(:title, 'Profile') %>

<h1>Update your Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% provide(:button_text, 'Save') %>
    <%= render 'form' %>
  </div>
</div>
