<% provide(:title, 'Sign Up') %>

<h1>Get Started</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% provide(:button_text, 'Create My Account') %>
    <%= render 'form' %>
  </div>
</div>
