<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Your Happy Homes
      </h1>

      <div>

        <% if @properties.count.zero? %>
          <h1><p><%= link_to 'Add your first property!', new_property_path, class: 'btn btn-primary' %></p></h1>
        <% else %>

          <p>Your properties:</p>

          <% @user.properties.each_with_index do |property, index| %>
            <% property_name = property.nickname.empty? ? property.address['street_address'] : property.nickname %>
            <% property_with_index = (index + 1).to_s + '. ' + (property_name) %>

            <p><%= link_to property_with_index, edit_property_path(property)%></p>
          <% end %>

          <div>
            <%= link_to 'Add another property', new_property_path, class: 'btn btn-primary' %>
          </div>
      <% end %>
      </div>

    </section>
  </aside>
</div>
