<% provide(:title, 'Add Property') %>

<h1>Add Property</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% provide(:button_text, 'Add New Property') %>
    <%= render 'form' %>

  </div>
</div>
