<% provide(:title, @property.address['street_address']) %>

<h1><%= @property.display_name %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><%= link_to 'Update Property', edit_property_path(@property)%></p>
    <div class="property_details">
      <%= render 'properties/property_details', property: @property %>
    </div>

    <div class="property_documents">
      <%= render partial: 'properties/property_documents/document_details', collection: @property.property_documents %>
      <% # @property.property_documents.each do |document| %>
        <% #= render 'properties/property_documents/document_details', property_document: document %>
      <% # end %>
    </div>
  </div>
</div>
