<% if @user && @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.uniq.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% elsif @property && @property.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@property.errors.count, "error") %>.
    </div>
    <ul>
      <% @property.errors.full_messages.uniq.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
