
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cost Tracking - Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ml-sm-3">
          <h4>Add An Expense</h4>

          <p class="lead">Keep track of your expenses.</p>

          <p>
            You can add any expenses here. Each expense has three main fields:
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Name</b> (e.g. 'Patio Screens') </li>
              <li class="list-group-item"><b>Cost</b> (e.g. '$700.00') </li>
              <li class="list-group-item"><b>Expense</b> Date (e.g. 'September 01, 2018') </li>
            </ul>

            Once you click submit, this expense will be linked to your property. That's it!
          </p>
        </div>

        <hr />

        <div class="ml-sm-3">
          <h4>Expense Reports</h4>
          <p class="lead">See the entire year in a single snapshot.</p>
          <p>
            Expense Reports are a summary snapshot of your expenses for a whole year.
            You can choose the year, export the report, and email it to your accountant!
          </p>
        </div>

        <hr />

        <div class="ml-sm-3">
          <h4>All Expenses</h4>
          <p class="lead">
            Coming soon...
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
