<fieldset>
  <p>Name: <%= property_document.document.name %> </p>
  <p>Type: <%= property_document.document_type %> </p>
  <%= link_to property_document.document.name, url_for(property_document.document) %>
</fieldset>