<fieldset>
  <p>Name: <%= document_details.name %> </p>
  <p>Type: <%= document_details.property_document_type.name %> </p>
  <%= link_to document_details.document.name, url_for(document_details.document) %>
</fieldset>