<li class="list-group-item list-group-item-primary">
  <b>Name: </b>
  <%= existing_document.name %>
  <b>|</b>
  <b>Type: </b>
  <%= existing_document.property_document_type.name %>
  <b>|</b>
  <a href="#">Preview</a>
  <b>|</b>
  <a href="#">Delete</a>
</li>
