
<!-- Modal -->
<div class="modal fade" id="documentLearnMore" tabindex="-1" role="dialog" aria-labelledby="documentLearnMoreTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="documentLearnMoreTitle">Documents - Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ml-sm-3">
          <h4 class="mb-sm-3">Search Documents</h4>

          <p>Search through all your uploaded documents easily.</p>
          <p>Filter by name, date you uploaded, and size.</p>
        </div>

        <hr />

        <div class="ml-sm-3">
          <h4>Add a Document</h4>
          <p>You can add documents related to <strong><%= @property.display_name %></strong> here.</p>
          <p>
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
