<footer class='footer'>
  <small>
    We'll help manage your peace of mind.
  </small>

  <nav>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>
